/* Yemek arama ekranı */
.search-container {
    margin: 30px auto;
    display: flex;
    gap: 10px;
    justify-content: center;
}

#searchInput {
    width: 250px;
    padding: 14px;
    border-radius: 10px;
    border: 2px solid #6a00ff;
}

#searchBtn {
    padding: 14px 20px;
    background: #6a00ff;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s;
}

#searchBtn:hover {
    background: #8a3dff;
}

/* Tarif kartları */
.results {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.recipe-card {
    background: white;
    border-radius: 14px;
    border: 2px solid #6a00ff;
    padding: 20px;
    margin-bottom: 15px;
    text-align: left;
}
